# Arquivos de log
*.log

# Arquivos de build do Maven
/target/

# Banco de dados local
/sqlite-data/

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# Arquivos do sistema operacional
.DS_Store